<%= form_for @contact, url: contact_path do |f| %>

  <div class="name">
    <%= f.text_field :name, placeholder: 'Name', class: 'form_area' %>
  </div>

  <div class="email">
    <%= f.text_field :email, :maxlength => 32, placeholder: 'Email', class: 'form_area' %>
  </div>

  <div class="message">
    <%= f.text_area :message, placeholder: 'Write your message here', class: 'form_message_area' %>
  </div>

  <div class="submit">
    <%= f.submit "SUBMIT", class: 'form_submit' %>
  </div>
<% end %>
