<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'logo-dark.png' %>
  <title>AboutMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'jquery.pagepiling', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.pagepiling.min' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
